.h1 {
    text-align:center;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
.container{
    padding-top: 100px;
    height: 100px;
}

.btn{
    background-color: black;
    color: green;
}

.btn:hover{
    color: whitesmoke;
}