<style>
.img{
image-orientation: from-image;
align-self: auto;
}


</style>

<center><img src="resources/image/ab.jpg"></center>
<H1>About company</H1>
    <br>
<p style="text-indent: 60;">
    The company of AB was founded in the early 90's. At the time of enormous economic changes in Poland, the company chose to invest in services for small and medium business. This allowed for a very detailed penetration of local market and creating a broad partner network of small and medium business.
    
    AB quickly joined the forefront of the largest distributors in Poland. Scale of activity and dynamic development of the company caused that in 2006 the company was listed on the Warsaw Stock Exchange.
</p>

<p style="text-indent: 60;">
    
    In 2007 AB S.A. purchased 100% of actions of ATComputers Holding a.s. - a group of companies operating in the IT distribution industry in the Czech Republic and Slovakia, the largest PC manufacturer in the Czech Republic and networks of computer retail shops.
    
    At the time of acquisition ATC group was one of the largest and the most dynamic companies in the IT market in the Czech Republic and Slovakia, where – similarly as in Poland – high-tech industry was experiencing an unprecedented boom.
    
    Today AB group is one of the largest distributors of IT and consumer electronics in the region of Central and Eastern Europe.</p>
    
    <p style="text-indent: 60;"> The company operating mainly in Poland, the Czech Republic and Slovakia is a strategic distribution partner for most of the world's leading manufacturers of new technologies, selling their products to more than 16 thousand business partners. Company's regular offer includes above 70 thousand products of more than seven hundred brands from all over the world.
    
    In addition to already well-established position in the market of IT hardware, AB Group has been successfully running the distribution of consumer electronics, household appliances, toys and products concerning mobile telephony.
    
    AB S.A. is a member of “Global Technology Distribution Council” - prestige association uniting the largest and the most influential distributors from all around the world. The association's mission is to familiarize IT manufacturers and investors the role of distribution in the market of new technologies and creating a common communication platform.
    
    AB S.A. is also a participant of the Polish Champion Program created out at the request of the City of Wrocław and Wrocław Agglomeration Development Agency in collaboration with Ministry of Economy and the Polish Information and Foreign Investment Agency and PwC. The main purpose of the project is to support regional entrepreneurs in economic expansion and export to foreign countries.</p>